@import 'reset.css';

body {
  width: 960px;
  margin: 0 auto;
}

nav {
  height: 45px;
}

#branding-container {
  display: inline-block;
  height: 45px;
  width: 320px;
}

#brand-name {
  display: inline-block;
  margin-left: 10px;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
}

#brand-name p {
  font-family: monospace;
  text-transform: uppercase;
  color: #777777;
}

#social-icons {
  height: 24px;
  float: right;
  padding: 10.5px 0;
}

#social-icons li {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 2px;
}

#social-icons li:nth-of-type(6) {
  margin-right: 10px;
}