@import 'reset.css';

body {
  width: 960px;
  margin: 0 auto;
}

/* navigation bar */
nav {
  height: 45px;
  margin: 30px 0;
}

#branding-container {
  display: inline-block;
  height: 45px;
  width: 320px;
}

#branding-container img {
  float: left;
}

#brand-name {
  display: inline-block;
  margin-left: 10px;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  margin-bottom: 3px;
}

#brand-name p {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: #777777;
  font-size: 10px;
}

#social-icons {
  height: 24px;
  float: right;
  padding: 10.5px 0;
}

#social-icons li {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 2px;
}

#social-icons li:nth-of-type(6) {
  margin-right: 10px;
}

/* horizontal rule */
.rule {
  height: 16px;
  display: block;
  background-image: url(img/hr-img.png);
  background-repeat: repeat;
  background-size: auto;
  margin-bottom: 30px;
}

h2{
  font-weight: bold;
  font-size: 44px; 
  margin-top: 30px;
}

h3{
  color: #777;
  display: inline-block;
}

#print-container{
  float: right;
}

#recipe-header{
  margin-bottom: 30px;
}

#choco-pizza{
  width: 960px;
  margin-bottom: 30px;
}

.direction{
  margin-bottom: 30px;
  text-indent: 50px;
}

#ingredrients-container{
  background-image: url(img/list-bg.png);
  height: 300px;
  margin-bottom: 30px;
  
}

#ingredrients-container ul{
  column-count: 2;
  padding:85px;
}

h4{
  font-size: 20px;
  font-weight: bold;
}

#author-container{
  display: inline-block;
  margin-bottom: 30px;
}

#author{
  float: left;
  width: 668px;
  margin-right: 12px;
}

#author-container img{
  float: left;
}

#author p{
  width: 552px;
}

button{
  background-color: #BC7058;
  color: white;
  float: right;
  font-size: 25px;
  padding: 20px;
  text-transform: uppercase;
}

hr{
  z-index: -1;
  margin-bottom: 30px;
}

footer p{
  text-align: center;
  color: #777;
  margin: 0px;
}

footer img{
  clear: left;
  margin: -22px auto;
  display: block;
}

footer{
  margin-bottom: 30px;
}

